@model SignInSystem.Models.Attendee
@{
    Layout = "~/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{

    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m=>m.Email)
        @Html.ValidationMessageFor(m=>m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmEmail)
        @Html.TextBoxFor(m => m.ConfirmEmail)
        @Html.ValidationMessageFor(m => m.ConfirmEmail)
    </div>
    <div>
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber)
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>







    <button>Sign In</button>
}

@Html.ActionLink("Attendance Report", "Report", "SignIn")

