@model List<SignInSystem.Models.Attendee>

@{
    Layout = "~/Shared/_Layout.cshtml";
}


<table>
    @foreach (var guest in Model)
    {
        <tr>
            <td> @guest.FirstName</td>
            <td>@guest.LastName</td>
            <td>@guest.Email</td>
            <td>@guest.PhoneNumber</td>
        </tr>
    }

</table>
<br />
@Html.ActionLink("Return to Main Page", "Main", "SignIn")